.places-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  max-height: 45vh;
  overflow-y: auto;
  padding-top: 15px;
}

.text-nav-color {
  color: var(--nav-bg);
}